<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidreccomendme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidReccomendMe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".BanReasons"
            android:exported="false" />
        <activity
            android:name=".UserList"
            android:exported="false" />
        <activity
            android:name=".UserLayout"
            android:exported="false" />
        <activity
            android:name=".Users"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".Comment"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".ChangePic"
            android:exported="false" />
        <activity
            android:name=".CreateCommentPage"
            android:exported="false" />
        <activity
            android:name=".CommentPage"
            android:exported="false" />
        <activity
            android:name=".InfoPage"
            android:exported="false" />
        <activity
            android:name=".VideoPage"
            android:exported="false" />
        <activity
            android:name=".Category_Layout"
            android:exported="false" />
        <activity
            android:name=".ChangePassPage"
            android:exported="false" />
        <activity
            android:name=".ChangeUserPage"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".CategoryPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>